* {
    box-sizing: border-box;
}
h1 {color: white;}

.heading { 
  background-color: pink ;
}
#white {
 color: white
}
html { background-color: grey;}

.border1 { background-color:white; 
  border: 5px solid orange;
}
.green { color: rgb(46, 229, 46)}
.yellow { color: yellow}
.blue { color: lightblue}